header{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/fondo.png);
    width: 80%;
    padding-bottom: 50px;
    margin-top: -25px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    background-position: 0px;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
nav{
    display: flex;
    justify-content: center;
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li{
    margin: 0 10px;
}
nav a{
    color: rgb(173, 171, 171);
    text-decoration: none;
    padding: 10px 20px;
    font-size: 25pt;
}