.encabezado {
  position: fixed;
  background-color: white;
  width: 100%;
  padding-bottom: 10px;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/fondo.png);
  width: 70%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-size: cover;
  background-position: 0px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  color: white;
  padding-bottom: 3%;
  position: relative;
}
header .titulos i {
  display: flex;
  position: relative;
  font-size: 18pt;
  cursor: pointer;
  margin-top: 6%;
  margin-left: 5%;
}
header h1 {
  position: relative;
  width: 100%;
  margin-top: -6%;
  margin-left: 12%;
  color: rgb(230, 228, 228);
  font-size: 18pt;
}
header h1 p {
  color: rgb(173, 171, 171);
  font-size: 8pt;
}

.iconos-derecha{
  position: relative;
  transform: translateY(-50%);
  right: 20px;
  font-size: 16pt;
  cursor: pointer;
  color: darkgrey;
  gap: 15px;
  display: flex;
  align-items: center;
}
.iconos-derecha i{
  border-radius: 50%;
  padding: 5px;
}
header .iconos-derecha i:hover {
  background-color:rgb(47, 71, 47);
}
nav {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
  margin: auto;
  justify-content: flex-start; 
  box-sizing: content-box;
  
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 900px; /* Se reduce para mayor flexibilidad */
  max-width: 1200px;
}
nav li {
  margin-right: 30px;
  margin-top: 20px;
}
nav a {
  color: rgb(173, 171, 171);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 14pt;
  letter-spacing: 1px;
}
nav a:hover,
nav a:focus {
  border-bottom: 2px solid rgb(173, 171, 171);
}
nav a.active {
  border-bottom: 2px solid rgb(173, 171, 171);
}
.contenido {
  width: 70%;
  margin: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-top: 160px;
  height: calc(100vh - 160px);
  box-sizing: content-box;
}
.destacados {
  width: 100%;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  flex-wrap: nowrap;
  justify-content: space-around;
  white-space: nowrap;
}
.destacados h2 {
  font-size: 18pt;
  margin-bottom: 0px;
  width: 100%;
}
.destacados img {
  width: 100%;
  max-width: 250px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  margin: 10px;
}
.combos {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
.combos h2 {
  font-size: 18pt;
  margin-bottom: 0px;
}
.combos p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  width: 100%;
  margin: auto;
  line-height: 60px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.combos p img {
  margin-right: 10px;
  width: 75px;
  height: 75px;
  border-radius: 10px;
  object-fit: cover;
}
.medianas {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
.medianas h2 {
  font-size: 18pt;
  margin-bottom: 0px;
}
.medianas p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  width: 100%;
  margin: auto;
  line-height: 60px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.medianas p img {
  margin-right: 10px;
  width: 75px;
  height: 75px;
  border-radius: 10px;
  object-fit: cover;
  position: relative;
}
@media (max-width: 1000px) {
  nav {
    width: 100%;
    justify-content: center;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  header {
    position: relative;
    width: 100%;
    flex-direction: row;
    text-align: left;
  }

  header h1 {
    min-width: 60%;
    max-width: 70%;
  }

  header .iconos-derecha {
    position: absolute;
    right: 40px;
  }

  .contenido {
    width: 100%;
    margin: auto;
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
}
