* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Montserrat, Arial, sans-serif;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/fondo.png);
  letter-spacing: 0.25px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.titulo1 {
  text-shadow: 1.7px 1px #000;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  margin-top: 8%;
  padding-bottom: 8px;
  width: 100%;
  font-size: 15pt;
}
.caja-verde {
  display: block;
  padding-top: 10px;
  padding-bottom: 35px;
  width: 270px;
  background-color: #546222;
  margin: auto;
  border-radius: 8px;
}
.masakali {
  transform: scaleY(1.5);
  letter-spacing: 5px;
  font-size: 25pt;
  font-weight: 700;
  width: 80%;
  margin: auto;
  margin-top: 10%;
}
.pizza {
  font-size: 18pt;
  font-weight: 700;
  margin: auto;
  margin-top: 10px;
  width: 80%;
  margin-bottom: 25px;
  text-align: right;
}
hr {
  margin: auto;
  width: 80%;
  background-color: white;
  height: 5px;
}
.cdb {
  margin: auto;
  margin-top: 10px;
  text-align: center;
  font-size: 15pt;
  font-weight: 700;
  letter-spacing: 0px;
  transform: scaleY(1.5);
}

.texto1 {
  line-height: 2.5;
  text-align: center;
  position: relative;
  width: 100%;
  margin: auto;
}
.language {
  text-align: center;
}
.language a img {
  width: 2%;
  min-width: 40px;
  cursor: pointer;
  border-radius: 50%;
}
.language a img.active {
  border: 3px solid white;
  transition: 0.1s;
}
.boton {
  width: 350px;
  margin: auto;
  margin-top: 3%;
  text-align: center;
}
.boton button {
  position: relative;
  background-color: rgb(25, 194, 216);
  font-size: 15pt;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border: none;
}
.texto2 {
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  line-height: 1.5;
  text-align: center;
}
@media (max-width: 1022px) {
  .titulo1{
    margin-top: 15%;
  }
  .caja-verde {
    width: 40%;
  }
  .masakali {
    width: 80%;
    font-size: 5vw;
    font-weight: 700;
    transform: scaleY(1.7);
    text-align: right;
  }
  .pizza {
    width: 80%;
    font-size: 4vw;
    font-weight: 700;
    text-align: right;
  }
  .cdb {
    width: 80%;
    margin-top: 10px;
    font-size: 3vw;
    font-weight: 700;
    letter-spacing: 0px;
    transform: scaleY(1.7);
  }
}
