/* ==========================
   Estilos Generales
========================== */
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

::-webkit-scrollbar {
  width: 0;
}

/* ==========================
   Header
========================== */
header {
  display: flex;
  position: fixed;
  margin-top: 0;
  background-color: #e30613; /* Rojo Sevilla FC */
  color: white;
  height: 100px;
  width: 100%;
  z-index: 3;
}

header h1 {
  padding-top: 10px;
  margin-left: 50px;
}

header i {
  position: fixed;
  font-size: 25pt;
  right: 0;
  margin-top: 25px;
  margin-right: 20px;
}

#cart-icon {
  position: fixed;
  font-size: 30pt;
  right: 20px;
  top: 5px;
  cursor: pointer;
  z-index: 5;
}

/* ==========================
   Sidebar Categorías
========================== */
#category-links {
  z-index: 2;
  max-width: 250px;
  min-width: 212px;
  background-color: white;
  padding: 20px;
  color: black;
  height: 85vh;
  position: fixed;
  margin-top: 100px;
  top: 0;
  left: 0;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#category-links #logo {
  width: 170px;
  display: flex;
  margin: 0 auto;
}

#category-links a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: black;
  margin-bottom: 15px;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#category-links a:hover {
  background-color: lightgray;
}

.volver-inicio {
  position: fixed;
  background-color: #e30613;
  display: flex;
  width: 200px;
  height: 50px;
  left: 125px;
  bottom: 15px;
  transform: translateX(-50%);
  z-index: 4;
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.volver-inicio:hover {
  background-color: #d30312;
}

/* ==========================
   Contenido Principal
========================== */
#main-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: left;
  padding-top: 120px;
  padding-left: 280px;
  padding-right: 20px;
  width: calc(100%-260px);
}

#main-content.adjusted {
  padding-right: 320px;
  width: calc(100% - 320px);
}

/* ==========================
   Contenedor Categorías
========================== */
.category-container {
  width: 75%;
  margin-bottom: 70px;
  margin-left: 0 auto;
  padding: 0 20px;
  scroll-margin-top: 120px;
}

.category-container h2 {
  font-size: 1.8rem;
  color: #e30613;
  margin-bottom: 20px;
  text-align: left;
}

.category-container .product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: left;
}

/* ==========================
   Productos
========================== */
.product {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  max-width: 250px;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.product h3 {
  color: #e30613;
  font-size: 1.2rem;
  margin-bottom: 10px;
  height: 6rem;
  overflow: hidden;
}

.product p {
  color: #555;
  font-size: 1rem;
  margin-bottom: 10px;
  min-height: 7rem;
  overflow: hidden;
}

.product ul {
  width: 70%;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0 auto;
}

.product li {
  background-color: red;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 0px;
  text-align: center;
}

.product li:hover {
  background-color: #d30312;
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ==========================
   Carrito Sidebar
========================== */
.carrito-sidebar {
  display: flex;
  position: fixed;
  top: 0;
  margin-top: 100px;
  overflow-y: auto;
  background: white;
  padding: 20px;
  right: -400px;
  width: 350px;
  height: 100vh;
  flex-direction: column;
  transition: right 0.3s ease;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.carrito-sidebar.open {
  right: 0;
}

.carrito-sidebar h3 {
  font-size: 1.2rem;
  font-weight: bold;
  position: fixed;
  width: 350px;
  justify-content: center;
  display: flex;
  bottom: 110px;
  padding: 10px 0px;
  background-color: white;
}

.carrito-sidebar .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.carrito-sidebar .carrito-buttons {
  position: fixed;
  display: flex;
  width: 350px;
  bottom: 0px;
  background-color: white;
  flex-direction: column;
  align-items: center;
}

.carrito-sidebar .carrito-buttons button {
  display: flex;
  width: 20%;
  margin: 10px;
  padding: 10px 80px;
  background-color: #e30613;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  justify-content: center;
}

.carrito-sidebar .carrito-buttons button:hover {
  background-color: #d30312;
}

.carrito-content {
  background: white;
  width: 350px;
  height: 70vh;
  overflow-y: auto;
}

/* ==========================
   Carrito Items
========================== */
.carrito-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.carrito-item img {
  max-width: 50px;
  height: auto;
  margin-right: 10px;
}

.carrito-item h4 {
  flex: 1;
  margin: 0 10px;
  font-size: 1rem;
}

.carrito-item p {
  font-size: 0.9rem;
  margin: 0;
}

.carrito-item input {
  width: 40px;
  margin-right: 10px;
}

.carrito-item button {
  position: relative;
  display: flex;
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  width: 30px;
  cursor: pointer;
  align-content: center;
  border-radius: 5px;
}

.carrito-item button:hover {
  background-color: #d30312;
}

/* ==========================
   Responsive
========================== */
@media screen and (max-width: 768px) {
  .carrito-sidebar {
    width: 250px;
  }

  #category-links {
    width: 200px;
  }

  #main-content {
    padding-left: 0;
    width: 100%;
  }
}
